.popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  
    
}
.popup_content{
    background-color: #1b263b;
    color: rgb(83, 17, 17);
    height: 80vh;
    width: 600px;
    padding: 30px;
    overflow-y: auto;
}
